input:hover,
      input:active,
      input:focus,
      textarea:hover,
      textarea:active,
      textarea:focus,
      button:hover,
      button:active,
      button:focus {
        outline: none;
      }

      input,
      textarea,
      button {
        border: 0;
        border-radius: 0;
        background-color: transparent;
        font-size: inherit;
      }
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-image: linear-gradient(236deg, #74ebd5, #acb6e5);
        font-family: Arial, Helvetica, sans-serif;
      }
      .calculator {
        border-radius: 12px;
        box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
        max-width: 15em;
        overflow: hidden;
      }
      .calculator__screen {
        background-color: rgb(22, 22, 21);
        color: #ffffff;
        text-align: right;
        padding: 0.5em 0.7em;
        font-size: 1.7em;
      }
      .calculator__keys {
        background-color: #999;
        display: grid;
        grid-gap: 1px;
        grid-template-columns: repeat(4, 1fr);
      }
      .calculator__keys > * {
        background-color: #fff;
        padding: 0.5em 1.25em;
        position: relative;
        text-align: center;
      }
      .calculator__keys > *:active::before,
      .calculator__keys > .is-depressed::before {
        background-color: rgba(0, 0, 0, 0.2);
        bottom: 0;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
        content: "";
        left: 0;
        opacity: 0.3;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
      }
      .key--operator:active{
        animation: clicked infinite 300ms ;
      }
      @keyframes clicked {
        from{
            transform: scale(1);
        }
        to{
            transform: scale(0.98);
        }
        
      }
      .key--operator {
        background-color: #eee;
      }
      .key--equals {
        background-image: linear-gradient(to bottom, #fe886a, #ff7033);
        grid-column: -2;
        grid-row: 2 / span 4;
      }